body {
    margin: 0px;
}
#main {
    display: flex;
    background: url(../images/background-froms.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}

/* ====== #content ====== */
#content {
    height: fit-content;
    width: fit-content;
    background-color: #fff;
    padding: 0px 20px 30px;
    box-sizing: border-box;
    max-width: calc(100% - 20px);
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgb(103, 103, 103);
    text-align: center;
}
#content #heading {
    color: #3750dd;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 16px;
}
#content .error {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: red;
    display: block;
    text-align: left;
    position: relative;
    left: 20px;
}

/* === input === */
#content input {
    border-radius: 22.3px;
    font-size: 16px;
    width: 300px;
    max-width: 100%;
    height: fit-content;
    padding: 12px 16px;
    border: 1px solid rgb(172, 172, 172);
    box-sizing: border-box;
    display: block;
}
#content input:focus {
    outline: 0;
}

/* === button === */
#content #btn_login, .btn_Register {
    border-radius: 25px;
    height: 50px;
    border: 0px;
    font-size: 16px;
    padding: 0px;
    color: #fff;
}

#content #btn_login {
    width: 100%;
    margin: 30px 0px;
    background-color: #3750dd;
}

#content .btn_Register {
    width: 60%;
    background-color: #00a400;
    margin: 0 auto;
    margin-top: 30px;
}
#content .btn_Register a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    position: relative;
    top: 14px;
}

#content  #btn_login:hover , #content .btn_Register:hover {
    
    cursor: pointer;
}

hr {
    margin: 0px;
}